* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, h5, p, img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: auto;
}

img {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body, html {
  min-width: 375px;
  margin: auto;
}

/*colors*/
/*text font definition*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
}

img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}

main {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -1.5rem;
  background-color: #f6f6f6;
}

header {
  height: 62px;
  background-color: white;
}

header .arrow {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.25rem;
}

header > .logoohmyfood {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-family: 'Shrikhand', cursive;
  font-size: 1.8rem;
}

.carte h2 {
  font-weight: 300;
  margin: 2.5rem 0px 1rem 1.2rem;
  font-size: 1rem;
}

.carte h2::after {
  content: "";
  display: block;
  width: 38px;
  height: 0;
  border: 1.5px solid #99E2D0;
  background-color: #99E2D0;
  margin-top: 5px;
}

footer {
  padding: 1.2rem 0rem 2.5rem 1.2rem;
  background-color: #353535;
}

footer .logoohmyfood_footer {
  display: block;
  margin-bottom: .5rem;
  font-family: 'Shrikhand', cursive;
  font-size: 1.1rem;
  color: white;
}

footer a {
  display: block;
  /*pour avoir du margin en x et en y*/
  margin: .3rem;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer a > .fork {
  margin-right: 1rem;
  font-size: .8rem;
}

footer a > .hands {
  margin-right: .7rem;
  font-size: .8rem;
}

@media all and (min-width: 700px) {
  footer {
    padding: 2.2rem 0rem 2.5rem 4.2rem;
  }
}

.enseigne {
  display: flex;
  justify-content: space-between;
  padding: 2rem 15px 0px 0px;
  margin: -1rem 1.2rem 0px 1.2rem;
}

.enseigne > h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8rem;
}

.global {
  overflow: hidden;
  position: relative;
  box-shadow: 0rem 0.5rem 1rem #eaeaea;
  display: flex;
  margin: 1rem;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.global .details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.8rem 1.4rem 0.8rem 0.8rem;
}

.global .details h3 {
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.4rem;
  text-overflow: ellipsis;
}

.global .details p {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global span {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0px;
  font-weight: 600;
  width: 20px;
  padding: 0px .8rem .8rem 0px;
  margin-right: 1.5rem;
  transition: margin-right 0.4s;
}

.global__check {
  transform-origin: right center;
  transition: transform 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation-fill-mode: forwards;
  transition-delay: 0.25s;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: -70px;
  margin-left: 2rem;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 0.4s;
}

.global__check > .add_to_cart {
  color: white;
  width: 20px;
  font-size: 1.3rem;
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.global:hover > .global__check {
  margin-right: 0px;
}

.global:hover span {
  margin-right: 86px;
}

.global:hover .add_to_cart {
  transform: rotate(360deg);
}

.menu {
  animation: fadein 1500ms ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.global {
  animation: riseup 600ms cubic-bezier(0.31, 0, 1, 0.5) both;
}

.global--1 {
  animation-delay: 300ms;
}

.global--2 {
  animation-delay: 600ms;
}

.global--3 {
  animation-delay: 900ms;
}

.global--4 {
  animation-delay: 1200ms;
}

@keyframes riseup {
  from {
    margin-top: 7%;
  }
  to {
    margin-top: 0%;
  }
}

.coeurs_menu {
  margin-top: 10px;
}

.coeurs, .coeurs_menu {
  position: relative;
  width: 20px;
  height: 20px;
}

.coeurs:hover .shape_hrt, .coeurs_menu:hover .shape_hrt {
  opacity: 0;
}

.coeurs:hover .full_hrt, .coeurs_menu:hover .full_hrt {
  opacity: 1;
}

.coeurs > .fa-heart, .coeurs_menu > .fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 650ms;
}

.coeurs .shape_hrt, .coeurs_menu .shape_hrt {
  opacity: 1;
}

.coeurs .full_hrt, .coeurs_menu .full_hrt {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  border-radius: 50px;
  border: transparent;
  box-shadow: 0px 7px 10px #b4b4b4;
  max-height: 50px;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  transition: opacity 500ms, box-shadow 500ms;
}

button:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0px 10px 5px #b4b4b4;
}

button > span {
  color: white;
}

/* bouton de la page accueil */
.btn {
  display: flex;
  justify-content: center;
  max-height: 50px;
}

.btn > .action {
  font-size: 1rem;
  font-weight: 500;
}

.btn > .action > span {
  padding: 0px 15px;
}

/* boutons des pages menus*/
.btn_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_link > .commander {
  margin: 2rem 0px 6rem 0px;
}

.btn_link > .commander > span {
  padding: 0px 40px;
}

@media (min-width: 432px) {
  main .menu {
    gap: 20px;
  }
}

@media (min-width: 700px) {
  img {
    max-height: 400px;
  }
  .carte {
    padding: 2rem;
  }
  .carte h2 {
    max-width: 1000px;
    margin: 2rem auto 1rem auto;
  }
  .carte .global {
    margin: 0px auto 20px auto;
    min-width: 636px;
    max-width: 850px;
  }
}
/*# sourceMappingURL=enseigne.css.map */