* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, h5, p, img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: auto;
}

img {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body, html {
  min-width: 375px;
  margin: auto;
}

/*colors*/
/*text font definition*/
body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 62px;
}

header .arrow {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.25rem;
}

header > .logoohmyfood {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-family: 'Shrikhand', cursive;
  font-size: 1.8rem;
}

footer {
  padding: 1.2rem 0rem 2.5rem 1.2rem;
  background-color: #353535;
}

footer .logoohmyfood_footer {
  display: block;
  margin-bottom: .5rem;
  font-family: 'Shrikhand', cursive;
  font-size: 1.1rem;
  color: white;
}

footer a {
  display: block;
  /*pour avoir du margin en x et en y*/
  margin: .3rem;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer a > .fork {
  margin-right: 1rem;
  font-size: .8rem;
}

footer a > .hands {
  margin-right: .7rem;
  font-size: .8rem;
}

@media all and (min-width: 700px) {
  footer {
    padding: 2.2rem 0rem 2.5rem 4.2rem;
  }
}

.localisation {
  height: 50px;
  box-shadow: 0px 2px 4px #CCC inset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.localisation .destination {
  display: flex;
  justify-content: center;
  padding: 0rem 1rem;
  width: 155px;
  height: 2rem;
  background-color: #eaeaea;
  border: none;
}

.localisation .destination::placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
}

.localisation > .pin {
  font-size: 1rem;
  color: #353535;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.presentation .presentation_title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.presentation .presentation_sub {
  color: #353535;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.fonctionnement {
  padding-bottom: 3.2rem;
}

.fonctionnement > .fonctionnement_title {
  padding-left: 1.2rem;
  padding-top: 3rem;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

.fonctionnement .steps_card {
  cursor: pointer;
  background-color: #f6f6f6;
  box-shadow: 0rem .5rem 1rem #eaeaea;
  border-radius: 20px;
  margin: 0rem 1.2rem 1.6rem 2rem;
  padding: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.fonctionnement .steps_card > .steps {
  display: flex;
  align-items: baseline;
  padding-left: 1rem;
}

.fonctionnement .steps_card > .steps > .steps_icons {
  color: grey;
  min-width: 20px;
  font-size: 1rem;
}

.fonctionnement .steps_card > .steps > .phone {
  font-size: 1.25rem;
}

.fonctionnement .steps_card > .steps > p {
  padding: 0rem 1rem;
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.fonctionnement .steps_card > .steps_number {
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  margin-left: -1.7rem;
  align-items: center;
  width: 1.4rem;
  font-size: .8rem;
  height: 1.4rem;
  border-radius: 50px;
}

.fonctionnement .steps_card:hover .steps_icons {
  background-color: #9356DC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fonctionnement .steps_card:hover {
  background-color: #eeeeee;
}

.restaurants {
  background-color: #f6f6f6;
}

.restaurants_title {
  padding-left: 1.2rem;
  padding-top: 3rem;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

.restaurants > .restaurants_list {
  display: grid;
  padding: 0px 20px 3.5rem 20px;
  background-color: #f6f6f6;
  gap: 20px;
}

.restaurants > .restaurants_list > .restaurants_card {
  border-radius: 15px;
  height: 250px;
  box-shadow: 0rem .5rem 1rem #eaeaea;
  position: relative;
  display: block;
  background-color: white;
}

.restaurants > .restaurants_list > .restaurants_card > .new {
  position: absolute;
  top: .7rem;
  right: .7rem;
}

.restaurants > .restaurants_list > .restaurants_card > .new > span {
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: 600;
  font-size: .9em;
  border-radius: 2.5px;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants > .restaurants_list > .restaurants_card > .restaurants_img {
  height: 175px;
  width: 100%;
  background-position-y: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: 70% 70%;
}

.restaurants > .restaurants_list > .restaurants_card > .restau_info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.restaurants > .restaurants_list > .restaurants_card > .restau_info > .name_place > .name {
  font-weight: 600;
  font-size: 1.15rem;
}

.restaurants > .restaurants_list > .restaurants_card > .restau_info > .name_place > .place {
  font-size: 1.15rem;
}

.coeurs {
  position: relative;
  width: 20px;
  height: 20px;
}

.coeurs:hover .shape_hrt {
  opacity: 0;
}

.coeurs:hover .full_hrt {
  opacity: 1;
}

.coeurs > .fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.coeurs .shape_hrt {
  opacity: 1;
}

.coeurs .full_hrt {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-bar-chargement {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition-timing-function: ease-out;
}

.header-bar-chargement .progress-bar-chargement {
  height: 4.5px;
  background: #9356DC;
  animation-duration: 2s;
  animation-name: loader;
  opacity: 0;
  border-radius: 12px;
  transition-timing-function: ease-in;
}

header, main, footer {
  animation-duration: 2s;
  animation-name: opacity-body;
}

@keyframes opacity-body {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: .2;
  }
  50% {
    opacity: .45;
  }
  75% {
    opacity: .6;
  }
  95% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    width: 0;
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 1;
    display: block;
  }
  75% {
    width: 75%;
  }
  76% {
    width: 76%;
  }
  77% {
    width: 77%;
  }
  78% {
    width: 78%;
  }
  79% {
    width: 79%;
  }
  80% {
    width: 80%;
  }
  81% {
    width: 81%;
  }
  82% {
    width: 82%;
  }
  83% {
    width: 83%;
  }
  84% {
    width: 84%;
  }
  85% {
    width: 85%;
  }
  86% {
    width: 86%;
  }
  87% {
    width: 87%;
  }
  96% {
    width: 96%;
    transition-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
    display: none;
  }
}

button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  border-radius: 50px;
  border: transparent;
  box-shadow: 0px 7px 10px #b4b4b4;
  max-height: 50px;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0px 10px 5px #b4b4b4;
}

button > span {
  color: white;
}

/* bouton de la page accueil */
.btn {
  display: flex;
  justify-content: center;
  max-height: 50px;
}

.btn > .action {
  font-size: 1rem;
  font-weight: 500;
}

.btn > .action > span {
  padding: 0px 15px;
}

/* boutons des pages menus*/
.btn_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_link > .commander {
  margin: 2rem 0px 6rem 0px;
}

.btn_link > .commander > span {
  padding: 0px 40px;
}

@media all and (min-width: 700px) {
  .logoohmyfood, .localisation {
    justify-content: center;
  }
  .line_break {
    display: none;
  }
  .presentation {
    padding: 40px 20px;
  }
  .presentation .presentation_title {
    justify-content: flex-start;
  }
  .presentation .subtitle_button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem;
  }
  .presentation .subtitle_button .action {
    min-width: 230px;
    order: 1;
  }
  .presentation .subtitle_button .presentation_sub {
    order: 2;
    margin-top: 2rem;
  }
  .fonctionnement_title {
    padding-left: 2.5rem;
  }
  .functionning_steps {
    width: 600px;
    margin: auto;
  }
  .steps_card {
    width: 550px;
  }
  .steps_card .steps {
    margin-left: 2rem;
  }
  .fonctionnement_title, .restaurants_title {
    margin-left: 2rem;
  }
  .restaurants .restaurants_list {
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;
    margin: auto;
    max-width: 1150px;
    padding: 0px 40px 80px 40px;
    gap: 40px;
  }
  .restaurants .restaurants_list > .restaurants_card {
    margin: 0px;
    min-width: 295px;
  }
}
/*# sourceMappingURL=main.css.map */