/*reset*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, h5, p, img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5 p, a {
  font-size: 1rem;
}

img {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body, html {
  min-width: 375px;
  margin: auto;
}

/*text font*/
body {
  font-family: 'Roboto', sans-serif;
}

.logoohmyfood, .logoohmyfood_footer {
  font-family: 'Shrikhand', cursive;
}

/*header*/
.logoohmyfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  padding-top: 1rem;
}

header {
  height: 62px;
}

/*footer*/
footer {
  background-color: #353535;
  padding: 1.2rem 0rem 2.5rem 1.2rem;
}

.logoohmyfood_footer {
  font-size: 1.1rem;
  display: block;
  margin-bottom: .5rem;
  color: white;
}

footer a {
  color: white;
  padding: .2rem;
}

.fork {
  font-size: .8rem;
  margin-right: 1rem;
}

.hands {
  font-size: .8rem;
  margin-right: .7rem;
}

/*main*/
.localisation {
  height: 50px;
  -webkit-box-shadow: 0px 2px 4px #CCC inset;
          box-shadow: 0px 2px 4px #CCC inset;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin {
  color: #353535;
  font-size: 1rem;
}

.localisation p {
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 1rem;
  color: #353535;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 50px;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
  color: #353535;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-radius: 50px;
  border: transparent;
  -webkit-box-shadow: 0rem .5rem 1rem #eaeaea;
          box-shadow: 0rem .5rem 1rem #eaeaea;
  font-size: 1rem;
  font-weight: 500;
  min-width: 230px;
  max-height: 50px;
  padding: 1rem;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.fonctionnement {
  padding-bottom: 3.2rem;
}

h2 {
  font-size: 1.5rem;
  padding-left: 1.2rem;
  padding-top: 3rem;
  margin-bottom: 1.8rem;
}

.phone, .list {
  color: grey;
}

.shop {
  color: #9356DC;
}

.steps_card {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0rem .5rem 1rem #eaeaea;
          box-shadow: 0rem .5rem 1rem #eaeaea;
  border-radius: 20px;
  margin: 0rem 1.2rem 1.6rem 2rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.three {
  background-color: #f1f1f1;
}

.steps_number {
  color: white;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  /* pouquoi ca marche pas ??? */
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 1rem;
}

.steps i {
  min-width: 20px;
}

.steps p {
  font-size: 1rem;
  padding: 0rem 1rem;
  margin: 10px;
  font-weight: 500;
}

.phone, .list, .shop {
  font-size: 1rem;
}

i.phone {
  font-size: 1.25rem;
}

.restaurants {
  background-color: #f6f6f6;
}

/*marche pas*/
.restaurants_list {
  padding-bottom: 3.5rem;
  background-color: #f6f6f6;
}

.restaurants_card {
  border-radius: 15px;
  height: 250px;
  -webkit-box-shadow: 0rem .5rem 1rem #eaeaea;
          box-shadow: 0rem .5rem 1rem #eaeaea;
  background-color: white;
  margin: 20px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants_img {
  height: 175px;
  width: 100%;
  background-position-y: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.new span {
  color: #1b6150;
  background-color: #99e2d0;
  font-weight: 600;
  font-size: .9em;
  position: relative;
  top: 1rem;
  border-radius: 10px;
  right: .75rem;
  width: 75px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lapalette {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#noteenchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position-y: 62%;
}

#alafrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#delice {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restau_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.name {
  font-weight: 600;
  font-size: 1.15rem;
}

.place {
  font-size: 1.15rem;
}

#choosebox {
  display: none;
}

#colored {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shape_heart {
  padding: 10px 0px;
  font-size: 1.5rem;
  position: absolute;
  right: 35px;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.shape_heart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.full_heart {
  padding: 10px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.full_heart:active .shape_heart::before {
  display: none;
}

.full_heart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 890px) {
  .logoohmyfood, .localisation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 1rem;
  }
  .subtitle_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 220px;
    margin-top: 2rem;
  }
  .functionning_steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  h2 {
    padding-left: 2.5rem;
  }
  .restaurants_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants_card {
    margin: 15px 0px;
    min-width: 390px;
  }
  footer {
    padding: 2rem;
  }
  footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    /* marche pas*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer li {
    width: 196px;
    /* marche pas*/
  }
}
/*# sourceMappingURL=main.css.map */