.localisation {
    background-color: $localisation-color;
}

.pin {
    color: $text-color;
}

.localisation p {
    color: $text-color;
}

.presentation {
    background-color: $master-background-color;
}

h3 {
    color: $text-color;
}

.restaurants, .restaurants_list {
    background-color: $master-background-color;
}

.restaurants_card {
    background-color: white;
}

.new span {
    background-color: #99e2d0;
    color: #1b6150;
}
