main {  
    background-color: $master-background-color;
}

.global {
    background-color: white;
}

.add_to_cart {
    color: white;
}

button {
    background: yellow/*$button-color*/;
    color: $secondary_color;
}