footer {
    padding: 1.2rem 0rem 2.5rem 1.2rem;
    background-color: $footer-color;

    .logoohmyfood_footer {
            display: block;
            margin-bottom: .5rem;
            font-family: 'Shrikhand', cursive;
            font-size: 1.1rem;
            color: $footer-sec-color;
    }

    a {
        display: block;         /*pour avoir du margin en x et en y*/
        margin: .3rem;
        color: $footer-sec-color;
    
        > .fork {
            margin-right: 1rem;
            font-size: .8rem;
        }
        
        > .hands {
            margin-right: .7rem;
            font-size: .8rem;
        }
    }
}

@media all and (min-width: 700px) {
    
    footer {
        padding: 2.2rem 0rem 2.5rem 4.2rem;
    }
}