header {
    height: 62px;
    background-color: white;

    .arrow /*pour pages menus*/ {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 1.25rem;
    }

    > .logoohmyfood {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
    }
}