.logoohmyfood {
    font-size: 1.8rem;
}

.logoohmyfood {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
}

header {
    height: 62px;
}