@import "../base/reset";

/*main*/
.localisation {
    height: 50px;
    box-shadow: 0px 2px 4px #CCC inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation p {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}

h1 {
    padding-bottom: 1rem;
    text-align: center;
}

h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.fonctionnement {
    padding-bottom: 3.2rem;
}

h2 {
    padding-left: 1.2rem;
    padding-top: 3rem;
    margin-bottom: 1.8rem;
}

.steps_card {
    box-shadow: 0rem .5rem 1rem #eaeaea;           
    border-radius: 20px;
    margin: 0rem 1.2rem 1.6rem 2rem;
    padding: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.steps_number {
    display: flex;
    justify-content: center;
    margin-left: -1.7rem;
    align-items: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50px;
}

.steps {
    display: flex;
    align-items: baseline;
    padding-left: 1rem;
}

.steps i {
    min-width: 20px;
}

.steps p {
    padding: 0rem 1rem;
    margin: 10px;
}

.restaurants_list {
    padding-bottom: 3.5rem;
}

.restaurants_card {
    border-radius: 15px;
    height: 250px;
    box-shadow: 0rem .5rem 1rem #eaeaea;
    margin: 20px;
}

.restaurants_img {
    height: 175px;
    width: 100%;
    background-position-y: 100%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: 70% 70%;       /* a modifier */
}

.new {
    position: sticky;
    top: 100rem;
    left: 1000rem;
}

.new span {
    border-radius: 2.5px;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restau_info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#choosebox {
    display: none;
}