/*footer*/
footer {
    padding: 1.2rem 0rem 2.5rem 1.2rem;
}

.logoohmyfood_footer {
    display: block;
    margin-bottom: .5rem;
}

footer a {
    display: block;         /*pour avoir du margin en x et en y*/
    margin: .3rem;
}

.fork {
    margin-right: 1rem;
}

.hands {
    margin-right: .7rem;
}
