@media (min-width: 432px) {

    main {

        .menu {
            gap: 20px;
        }
    }
}

@media (min-width: 700px) {

    img {
        max-height: 400px;
    }

    .carte {
        padding: 2rem;

        h2 {
            max-width: 1000px;
            margin: 2rem auto 1rem auto;
        }
        
        .global {
            margin: 0px auto 20px auto;
            min-width: 636px;
            max-width: 850px;
        }
    }
}