 @media all and (min-width: 700px) {
     
    .logoohmyfood, .localisation {
        justify-content: center;
    }

    .line_break {
        display: none;
    }
    
    .presentation {
        padding: 40px 20px;

        .presentation_title {
            justify-content: flex-start;
        }

        .subtitle_button {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 2rem;

            .action {
                min-width: 230px;
                order: 1;
            }
        
            .presentation_sub {
                order: 2;
                margin-top: 2rem;
            }
        }
    }

    .fonctionnement_title {
        padding-left: 2.5rem;
    }

    .functionning_steps {
        width: 600px;
        margin: auto;
    }

    .steps_card {
        width: 550px;

        .steps {
            margin-left: 2rem;
        }
    }

    .fonctionnement_title, .restaurants_title {
        margin-left: 2rem;
    }
 
    .restaurants .restaurants_list {
        grid-template-columns: auto auto;
        grid-template-rows: 250px 250px;
        margin: auto;
        max-width: 1150px;
        padding: 0px 40px 80px 40px;
        gap: 40px;              /*marche pas*/

        > .restaurants_card {
            margin: 0px;
            min-width: 295px;
        }
    }

    footer {
        padding: 2.2rem 0rem 2.5rem 4.2rem;
    }
}