 @media (min-width: 700px) {
     
    .logoohmyfood, .localisation {
        justify-content: start;
        padding-left: 1rem;
    }
    
    .presentation {
        padding: 40px 20px;
    }
    .subtitle_button {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 2rem;
    }

    .action {
        min-width: 230px;
    }

    .functionning_steps {
        width: 600px;
        margin: auto;
    }
    
    .steps_card {
        width: 550px;
    }

    h2 {
        padding-left: 2.5rem;
    }

    .restaurants_list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 250px 250px;
        margin: auto;
        max-width: 1150px;
        padding: 0px 40px 80px 40px;
        gap: 30px;
    }

    .restaurants_card {
        margin: 0px;
        min-width: 295px;
    }

    footer {
        padding-left: 5rem;
    }
}


//      footer span {
//          display: flex;
//          justify-content: center;
//      }

//      footer ul {                                       /* marche pas*/
//          display: flex;
//          justify-content: space-between;
//          align-items: center;
//      }

//      footer li {
//          width: 196px;                      /* marche pas*/
//      }
    