@media (min-width: 800px) {

    img {
        max-height: 400px;
    }

    .carte {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 30px;
        padding: 0px 25px;

        .entrees, .plats, .desserts {
            flex: .33;
        }
    
        h3 {
            text-overflow: ellipsis;            /*marche pas*/
        }
    }
}

@media (min-width: 432px) {

    main {
        margin: 0px 20px;

        .menu {
            gap: 20px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
    
            > .global {
                max-width: 400px;
                margin: auto;
                margin-bottom: 20px;
            }
        }
    }
}