 @media (min-width: 700px)
 {
     .logoohmyfood, .localisation {
         justify-content: start;
         padding-left: 1rem;
     }
    
     .subtitle_button {
         display: flex;
         width: 100%;
         justify-content: space-around;
         flex-direction: row;
         margin-top: 2rem;
     }

     .action {
         min-width: 230px;
     }

     .functionning_steps {
         width: 600px;
         margin: auto;
     }
    
     .steps_card {
         width: 550px;
     }

     h2 {
         padding-left: 2.5rem;
     }

     .restaurants_list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 300px 300px 300px 300px;
         margin: 40px;
        }

     .restaurants_card {
         margin: 15px 0px;
         min-width: 390px;
     }

@media (min-width: 700px) {

}

//      footer {
//          padding: 2rem;
//      }

//      footer span {
//          display: flex;
//          justify-content: center;
//      }

//      footer ul {                                       /* marche pas*/
//          display: flex;
//          justify-content: space-between;
//          align-items: center;
//      }

//      footer li {
//          width: 196px;                      /* marche pas*/
//      }
    }