img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}

main {  
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: -1.5rem;
    background-color: $master-background-color;
}