button {
    transform: scale(1);
    transition: transform .3s ease;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
            background-color: lighten($button-color, 10%); 
        }
}

.fa-heart {
    transform: scale(1);
  
    &:hover {
        transform: scale(1.2);
    }
}

.fa-heart::before {
    content: "";
    transition: color 1s ease-in;
}

.fa-heart:hover::before{
    color: blue /*button-color*/;            /*pourquoi c'est rouge ????????????????*/
    font-weight: bold;
}

