button {
    transform: scale(1);
    transition: transform .3s ease;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
}

.shape_heart {
    transform: scale(1);
  
    &:hover {
        transform: scale(1.2);
    }
}

.full_heart
{   transform: scale(1);
    &:active {
        .shape_heart::before {
            display: none;
        }
    }

    &:hover {
        transform: scale(1.2);
    }
}

