button {
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
    border-radius: 50px;
    border: transparent;
    box-shadow: 0px 7px 10px #b4b4b4;
    max-height: 50px;
    margin: auto;
    padding: 1rem;    
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    
        &:hover {
            cursor: pointer;
            opacity: .8;
            box-shadow: 0px 10px 5px #b4b4b4;
        }

        > span {
            color: $button-sec-color; 
        }
}

/* bouton de la page accueil */
.btn {
    display: flex;
    justify-content: center;
    max-height: 50px;

    > .action {
        font-size: 1rem;
        font-weight: 500;
    
        > span {
        padding: 0px 15px;
        }
    }
}

/* boutons des pages menus*/ 
.btn_link {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .commander {
        margin: 2rem 0px 5rem 0px;

        > span {                /*marche pas*/
            padding: 0px 40px;
        }
    }
}