.global {
    overflow: hidden;

    .details, .details h3, .details p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__check {
        transform-origin: right center;
        transition: transform .25s cubic-bezier(.17,.67,.83,.67);
        animation-fill-mode: forwards;
        transition-delay: .25s;
        background-color: $animation_color;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        margin-right: -70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        > .add_to_cart {
            color: white;
            width: 20px;
            font-size: 1.3rem;
            transition: transform .4s ease-in-out;
            transition-delay: .2s;
        }
    }

    &:hover {
        > .global__check {
            transform: translateX(-70px);
        }

        span {
            animation: price .25s .25s cubic-bezier(.17,.67,.83,.67);
            animation-fill-mode: both;
        
            @keyframes price {
                0% {
                    margin-right: 0px;
                }
                100% {
                    margin-right: 60px;
                }
            }
        }
        
        & .add_to_cart {
            transform: rotate(360deg);
        }
    }
}