.enseigne {
    display: flex;
    justify-content: space-between;
    padding: 2rem 15px 0px 0px;  
    margin: -1rem 1.2rem 0px 1.2rem;

    > h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
    }
}