.menu {
    animation: fadein 1500ms ease-in;

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}

.global {
    animation: riseup $anim-dur cubic-bezier(.31,0,1,.5) both;
    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
         }
    }

    @keyframes riseup {
        from {
            margin-top: 7%;
        }
        to {
            margin-top: 0%;
        }
    }
}