.coeurs_menu {
    margin-top: 10px;
}

.coeurs, .coeurs_menu {
    position: relative;
    width: 20px;
    height: 20px;

    &:hover {
        .shape_hrt {
            opacity: 0;
        }

        .full_hrt {
            opacity: 1;
        }
    }

    > .fa-heart {
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 650ms;
    }

    .shape_hrt {
        opacity: 1;
    }

    .full_hrt {
        opacity: 0;
        background: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}