// body {
//     opacity: .7;
// }

// .container {
//     margin: 4em;
//     text-align: center;
// }

// .loader {
//     margin: auto;
//     position: absolute;
//     top: 0; left: 0; bottom: 0; right: 0;
//     border: 16px solid;
//     width: 120px;
//     height: 120px;
//     border-top-color: $primary-color;
//     border-bottom-color: $secondary-color;
//     border-right-color: $tertiary-color;
//     border-left-color:  grey;
//     border-radius: 50%;
//     animation: coloredSpin 1.5s linear;
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

// @keyframes coloredSpin {
//     0% {
//         transform: rotate(0deg) scale(1);
//     }
//     25% {
//         border-top-color: #2ecc71;
//         border-bottom-color: #2ecc71;
//     }
//     50% {
//         border-top-color: #3498db;
//         border-bottom-color: #3498db;
//         transform: rotate(360deg) scale(1.1);
//     }
//     75% {
//         border-top-color: #9b59b6;
//         border-bottom-color: #9b59b6;
//     }
//     100% {
//         transform: rotate(720deg) scale(1);
//     }
// }  




// .progress-container-chargement {
//     width: 100%;
//     height: 2px;
//     background: transparent;
//     transition-timing-function: ease-out;
// }

.progress-bar-chargement {
    height: 4.5px;
    background: $primary-color;
    animation-duration: 2s;
    animation-name: loader;
    opacity: 0;
    border-radius: 12px;
    transition-timing-function: ease-in;
}

.header-bar-chargement {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition-timing-function: ease-out;
}

header, main, footer {
    animation-duration: 2s;
    animation-name: opacity-body;
}

@keyframes opacity-body {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .45;
    }
    75% {
        opacity: .6;
    }

    95% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader {
    1% {
        width: 0; opacity: 0; display: none;
    }
    2% {
        opacity: 1; display: block;
    }
    30% {
        opacity: 1;
    }
    75% {
        width: 75%;
    }
    76% {
        width: 76%;
    }
    77% {
        width: 77%;
    }
    78% {
        width: 78%;
    }
    79% {
        width: 79%;
    }
    80% {
        width: 80%;
    }
    81% {
        width: 81%;
    }
    83% {
        width: 82%;
    }
    82% {
        width: 83%;
    }
    84% {
        width: 84%;
    }
    85% {
        width: 85%;
    }
    86% {
        width: 86%;
    }
    87% {
        width: 87%;
    }
    96% {
        width: 96%; transition-timing-function: ease-out; opacity: 1
    }
    100% {
        width: 100%; opacity: 0; display: none;
    }
}

.hidden {
    opacity: 0;
}
