.header-bar-chargement {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition-timing-function: ease-out;

    .progress-bar-chargement {
        height: 4.5px;
        background: $primary-color;
        animation-duration: 2s;
        animation-name: loader;
        opacity: 0;
        border-radius: 12px;
        transition-timing-function: ease-in;
    }
}

header, main, footer {
    animation-duration: 2s;
    animation-name: opacity-body;
}

@keyframes opacity-body {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .45;
    }

    75% {
        opacity: .6;
    }

    95% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        width: 0; opacity: 0; display: none;
    }

    1% {
        opacity: 1; display: block;
    }

    75% {
        width: 75%;
    }

    76% {
        width: 76%;
    }

    77% {
        width: 77%;
    }

    78% {
        width: 78%;
    }

    79% {
        width: 79%;
    }

    80% {
        width: 80%;
    }

    81% {
        width: 81%;
    }

    82% {
        width: 82%;
    }

    83% {
        width: 83%;
    }

    84% {
        width: 84%;
    }

    85% {
        width: 85%;
    }

    86% {
        width: 86%;
    }

    87% {
        width: 87%;
    }

    96% {
        width: 96%; transition-timing-function: ease-out; opacity: 1
    }

    100% {
        width: 100%; opacity: 0; display: none;
    }
}
