/*colors*/
$primary-color: #f6f6f6;
$secondary_color: #fff;
$button-color: linear-gradient(170deg, #FF79DA, #9356DC);
$animation-color: #99E2D0;
$box-shadow_color: #eaeaea;
$footer-color: #353535;
$footer-text_color: #fff;
