/*colors*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$button-sec-color: white;
$localisation-color: #eaeaea;
$steps-numb-color: white;
$master-background-color: #f6f6f6;
$footer-color: #353535;
$footer-sec-color: white;
$text-color: #353535;
$animation-color: #99E2D0;
$box-shadow_color: #eaeaea;
$num-bars: 4;
$anim-delay: 300ms;
$anim-dur: 600ms;