/*text font*/
body {
    font-family: 'Roboto', sans-serif;
}

.pin {
    font-size: 1rem;
}

.localisation p {
    font-size: 1rem;
    font-weight: 500;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 300;
}

.steps_number {
    font-size: .8rem;
}

.steps p {
    font-size: 1rem;
    font-weight: 500;
}

.phone, .list, .shop {
    font-size: 1rem;
}

i.phone {
    font-size: 1.25rem;
}

.new span {
    font-weight: 600;
    font-size: .9em;
}

.name {
    font-weight: 600;
    font-size: 1.15rem;
}

.place {
    font-size: 1.15rem;
}