/*text font definition*/
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
}
/*end of text font definition*/

h1 {
    font-size: 1.8rem;
}

h2 {     
    font-weight: 200;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.ingredients_price p {
    font-size: .9rem;
}

.dish_card span {     
    font-weight: 600;
}

.add_to_cart {
    font-size: 1.3rem;
}