/*text font definition*/
body {
    font-family: 'Roboto', sans-serif;
}

.logoohmyfood, .logoohmyfood_footer, h1 {
    font-family: 'Shrikhand', cursive;
}
/*end of text font definition*/


.logoohmyfood {
    font-size: 1.8rem;
}

.logoohmyfood_footer {
    font-size: 1.1rem;
}

.fork {
    font-size: .8rem;
}

.hands {
    font-size: .8rem;
}

h1 {
    font-size: 1.8rem;
}

.heart {
    font-size: 1.5rem;
    font-weight: 100;             /*pourquoi ca marche pas???*/
}

h2 {     
    font-weight: 200;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.ingredients_price p {
    font-size: .9rem;
}

.dish_card span {     
    font-weight: 600;
}

.add_to_cart {
    font-size: 1.3rem;
}

button {
    font-size: 1rem;
    font-weight: 500;
}